#headline{
  background-color: #010524;
  width: 100vw;
  position: relative;
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: block;
}

#screen{
  margin-top: 0vw;
  padding-top: 0vw;
  margin-left: 22vw;
  margin-right: 22vw;
  width: 56vw;
  height: 56vw;
  background-color: #999999;
  opacity: 1;
    /*background-color: #000000;*/
}
#screen line{
  stroke:black;
  stroke-width:5;
  opacity: 0.5;
}

.rotate{
  transform: rotate(45deg);
  transform-origin: 28vw 28vw;
  fill: none;
  stroke:black;
  stroke-width:5;
  opacity: 0.5;
}

#top_left_section ul{
  padding: 0;
  margin: 0;
}
#top_left_section li {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1vw;
  background-color: white;
  display: block;
  list-style: none;
}

#top_right_section ul{
  padding: 0;
  margin: 0;
}
#top_right_section li {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1vw;
  background-color: white;
  display: block;
  list-style: none;
}


#bottom_right_section ul{
  padding: 0;
  margin: 0;
}
#bottom_right_section li {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1vw;
  background-color: white;
  display: block;
  list-style: none;
}

#bottom_left_section ul{
  padding: 0;
  margin: 0;
}
#bottom_left_section li {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1vw;
  background-color: white;
  display: block;
  list-style: none;
}
#top_left_section{
  position:absolute;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 2.5vw;
  background-color: black;
  opacity: 0.2;
  margin-left: 25vw;
  /*22vw of margin-left + 3vw*/
  margin-top: 3vw;
  width: 22vw;
  height: 22vw;
}
#top_right_section{
  position:absolute;
  background-color: black;
  opacity: 0.2;
  margin-left: 53vw;
  /*22vw of margin-left + 22vw of size + 0vw of margin*/
  margin-top: 3vw;
  width: 22vw;
  height: 22vw;
}
#bottom_left_section{
  position:absolute;
  background-color: black;
  opacity: 0.2;
  margin-left: 25vw;
  /*22vw of margin-left + 3vw*/
  margin-top: 31vw;
  /*56vw of container - 3vw of margin - 22vw of size*/
  width: 22vw;
  height: 22vw;
}

#bottom_right_section{
  position:absolute;
  background-color: black;
  opacity: 0.2;
  margin-left: 53vw;
  /*22vw of margin-left + 22vw of size + 0vw of margin*/
  margin-top: 31vw;
  /*56vw of container - 3vw of margin - 22vw of size*/
  width: 22vw;
  height: 22vw;
}
