#headline{
  background-color: #010524;
  width: 100vw;
  position: relative;
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: block;
}
#top_line{
  margin-top: 1vw;
  padding: 0;
  margin-top: -0.5one piecevw;
  margin-left: 22vw;
  margin-right: 22vw;
  width: 56vw;
  height: 6vw;
  background-color: none;
  opacity: 1;
    /*background-color: #000000;*/
}
#top_line line{
  stroke:black;
  stroke-width:2;
  opacity: 1;
  vector-effect: non-scaling-stroke;
}
#section_selector{
  position: relative;
  background-color: #none;
}
/*div {
    display: none;
}

a:hover + div {
    display: block;
}*/
ul{
  margin-left: 22vw;
  margin-right: 22vw;
}
li{
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1vw;
  background-color: white;
  display: block;
  list-style: none;
}
li p {
  opacity:0;
     clear: both;
     height: 0;
     padding: 0 8px;
     overflow: hidden;
     -webkit-transition: all .3s ease .15s;
     -moz-transition: all .3s ease .15s;
     -o-transition: all .3s ease .15s;
     -ms-transition: all .3s ease .15s;
     transition: all .3s ease .15s;
}
li:hover > p {
  visibility: visible;
  opacity: 1;
  opacity:1;
  height: 5vw;

}
/*#section_selector:hover{
  transition:all 0.3s ease;
  -webkit-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
   position: relative;
}*/
