#headline{
  background-color: #010524;
  width: 100vw;
  position: relative;
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: block;
}

.name {
  text-align: center;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 2.5vw;
  margin: 0;
  margin-left: 0vw;
  margin-right: 0vw;
  padding: 0 0 0 0 ;
}
.game_list{
  padding: 0;
  margin: 0;
  margin-left: 22vw;
  margin-right: 22vw;
}

.item{
  height: 13vw;
  padding: 0vw;
  margin:1vw 0 2vw 0;
  font-family: Verdana;
  list-style: none;
}
#name_left{
  float: left;
  background-color: #333333;
  width: 13vw;
  height: 13vw;
  margin: 0;
  text-align: center;
}
#name_right{
  float: right;
  background-color: #333333;
  width: 13vw;
  height: 13vw;
  margin: 0;
  text-align: center;
}
.wf-active .game_name h1 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 2.5vw;
}
#text_right{
  float: right;
  width: 40vw;
  margin: 0;
}
#text_left{
  float: left;
  width: 40vw;
  margin: 0;
}

.text_description ul{
  margin: 0 0 0 1vw ;
  padding: 0;
}

.text_description li{
  display: inline;
  list-style: none;
  width: 19vw;
  float: left;
  margin: 0;
  padding: 0;
}

.wf-active .text_description #description{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.1vw;
    margin-top: 0.5vw;
    margin-bottom: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0 0 0 0 ;
    /*padding-top: 1vw;*/
}

.wf-active .text_description p{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}
.wf-active .text_description h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.3vw;
    padding: 0;
    margin: 0;
}
