/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2016, 10:45:53 AM
    Author     : khainguyen
*/

.navigation {
  background-color: #f2efec;
    height: 120px;
    text-align: center; 
    padding: 16px;
    list-style-type: none;
    margin: 0px;   
    font-family: "Lato";
    font-size: 18px;  
    
}
.navigation li{
    display: inline;
    padding: 12px 0px 12px 0px;
    background-color: white;    
    
}

.navigation ul{
    padding: 12px;
    margin-left: 700px;
}
.navigation a{
    color: #B81D18;
    text-align: center;
    padding: 12px 12px 12px 12px;  
    text-decoration: blink;
}

.navigation a:hover{     
    text-decoration: underline;
}
#activeNav{
    background-color: #B81D18;
    color: white;   
  
}
.ava { 
    margin-top: -40px;;
    padding-left: 400px;
    text-align: left;
}
.ava img{
    height: 180px;
    border: 1px solid #30231d;   
     
}
.ava ul{
    margin-left:180px;
    margin-top: -175px;
  
}
.ava p{
    font-family: "Kelly Slab";
    font-size: 32px;    
    margin-left: 10px;
}
.ava li{
    display: list-item;
    background-color: transparent;
    padding: 2px;
}
.ava a{
    font-family: "Kelly Slab";
    font-size: 18px;     
    text-decoration: underline;
    color: black;
    opacity: 0.7;  
}
.ava a:hover{
    font-weight: normal;
    opacity: 1;
}
#newest{
    background-color: black;
    height: 400px;
    font-family: "Lato";
    text-align: center;
    padding: 0px;
}
#newest li img{
    height: 100%;
    width: 100%;
    opacity: 0.20;
}
#newest ul{
    height: 100%;
    text-align:center;
    padding: 0px;
}
#newest li {
    display: inline-block;    
    width: 33%;
    height: 100%;
    padding: 0px;
}
#newest h1{
    margin-top: -370px;
    color: white;
    font-size: 40px;
    padding: 0px;
    
}
#newest p{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-size: 20px;
    line-height: 180%;
    padding: 0px;
}
#codes{
    height: 450px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
}

#codes img{
    height: 350px;
    float: left;
    
}
#codes h2{
    font-size: 25px;  
    font-family: "Lato";
    color: #2f2f2f;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#codes p{
    color: #4f4f4f;
    font-family: "Lato";
    font-size: 20px;
    line-height: 140%;
    margin-left: 320px;
    margin-bottom: 5px;
    
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 5px solid #a1a1a1;    
    padding: 0;
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 320px;   
    margin-bottom: 35px;
}

#codes a{
    font-family: "Lato";
    font-size: 20px;    
    margin-left: 30px;
    text-decoration: none;
}

#codes h3{
    font-size: 22px;  
    font-family: "Lato";
    color: #3f3f3f;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-bottom: 10px;
}
#games{
    background-color: #667467;
    height: 300px;
}
footer{
    background-color: #30231d;
    height: 200px;
}

